@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900; /* Black */
    src: url('../fonts/Poppins-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 800; /* ExtraBold Italic */
    src: url('../fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100; /* Thin */
    src: url('../fonts/Poppins-Thin.ttf') format('truetype');
}